.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.method {
  font-size: 0.8em;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 10px;
}

.method.get {
  background-color: #28a745;
  color: white;
}

.method.post {
  background-color: #007bff;
  color: white;
}

.method.put {
  background-color: #ffc107;
  color: white;
}

.method.patch {
  background-color: #ffc107;
  color: white;
}

.method.delete {
  background-color: #dc3545;
  color: white;
}

.method.webhook {
  background-color: #6c757d; /* Neutral gray */
  color: white;
}